
    <!-- Icon Cards-->

    <div class="card mb-3">
      <div class="card-header">
          <i class="fas fa-wrench"></i>
        Panne</div>

    <div class="container">
      <div class="card card-register mx-auto mt-12">
        <div class="card-header">Ajouter Panne </div>
        <div class="card-body">
          <form [formGroup]="panneForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="idPanne" class="form-control" placeholder="ID Panne" required="required" autofocus="autofocus" formControlName="idPanne">
                    <label for="idPanne">ID Panne</label>
                  </div>
                  <div class="form-label-group">
                    <input type="text" id="IDfonctionnaire" class="form-control" placeholder="IDfonctionnaire" required="required" autofocus="autofocus" formControlName="idFonctionnaire">
                    <label for="IDfonctionnaire">IDfonctionnaire</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="IDmateriel" class="form-control" placeholder="IDmateriel" required="required" formControlName="idMateriel">
                    <label for="IDmateriel">IDmateriel</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="number" id="DelaiReponse" class="form-control" placeholder="DelaiReponse" required="required" formControlName="delaiReponse">
                    <label for="DelaiReponse">Délai De Réponse</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="date" id="DateAcquisition" class="form-control" placeholder="DateAcquisition" required="required" formControlName="dateAcquisition">
                    <label for="DateAcquisition">Date d'Acquisition</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                          <input type="date" id="DelaiResolution" class="form-control" placeholder="DelaiResolution" required="required" formControlName="delaiResolution">
                          <label for="DelaiResolution">Delai de Résolution</label>
                        </div>
                      </div>
                  <div class="col-md-6">
                    <div class="form-label-group">

                      <select name="etat" class="form-control" id="inlineFormCustomSelect" formControlName="etat">
                        <option value="Reglee">Réglée</option>
                        <option value="non reglee">non réglée</option>
                      </select>

                    </div>
                  </div>

                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="Description" class="form-control" placeholder="Description" required="required" formControlName="description">
                  <label for="Description">Description</label>
                </div>
              </div>
            <button class="btn btn-primary btn-block" type="submit" [disabled]="!panneForm.valid">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
    <!--       -->
 </div>

