<!-- Icon Cards-->
  <div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-desktop"></i>
    Material</div>
  <div class="container">
    <div class="card card-register mx-auto mt-12">
      <div class="card-header">Modifier Material </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" id="etat">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text"  id="ID Materiel" name="idMateriel" class="form-control" placeholder="IDMateriel" required="required" form="IDMateriel" readonly autofocus="autofocus"  [(ngModel)]="materiel.idMateriel">
                  <label for="ID Materiel">ID Materiel</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text"  id="Type" name="type" class="form-control" placeholder="Type" required="required" form="Type"  [(ngModel)]="materiel.type">
                  <label for="Type">Type</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text"  id="Marque" name="marque" class="form-control" placeholder="Marque" required="required" form="Marque" [(ngModel)]="materiel.marque">
                  <label for="Marque">Marque</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text"  id="Model" name="model" class="form-control" placeholder="Model" required="required" form="Model" [(ngModel)]="materiel.model">
                  <label for="Model">Model</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="date"  id="DateAcquisition" name="dateAcquisition" class="form-control" placeholder="DateAcquisition" required="required" form="DateAcquisition" [(ngModel)]="materiel.dateAcquisition">
                  <label for="DateAcquisition">Date Acquisition</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="date"  id="MetteEnService" name="dateMettreEnService" class="form-control" placeholder="MetteEnService" required="required" form="MetteEnService"  [(ngModel)]="materiel.dateMettreEnService">
                  <label for="MetteEnService">Date de Mettre En Service</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <select name="etat" class="form-control" id="inlineFormCustomSelect"  form="etat" [(ngModel)]="materiel.etat">
                    <option value="marche">Marche</option>
                    <option value="panne">En panne</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Modifier</button>
        </form>
      </div>
    </div>
  </div>
  <!--       -->
</div>