
      <!-- Icon Cards-->

      <div class="card mb-3">
        <div class="card-header">




      <div class="container">
        <div class="card card-register mx-auto mt-12">
          <div class="card-header">Recherche </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="Matricule Material" class="form-control" placeholder="Matricule Material" required="required" autofocus="autofocus">
                      <label for="Matricule Material">Matricule Material</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-6">


                          <label>Choisir Type De Recherche </label>

                      </div>
                    </div>
                  </div>
              <div class="form-group">
                <div class="form-label-group">


                        <!-- Default unchecked -->

       <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
        <label class="custom-control-label" for="defaultUnchecked">User</label>
      </div>

      <!-- Default checked -->
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" >
        <label class="custom-control-label" for="defaultChecked">Type</label>
      </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="content " class="form-control" placeholder="content " required="required">
                      <label for="content ">content </label>
                    </div>
                  </div>
                </div>
              </div>


              <a class="btn btn-primary btn-block" href="login.html">  <i class="fas fa-search">  Recherche</i> </a>
            </form>

          </div>
        </div>
      </div>
      <!--       -->
   </div>

  </div>

        <!-- /.container-fluid -->
