
      <!-- Breadcrumbs-->

      <!-- Icon Cards-->

      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-home"></i>
          Home</div>


        <div class="container">
          <div class="card card-register mx-auto mt-12">
            <div class="card-header">Home </div>
            <div class="card-body">
              <p>You are in home</p>
            </div>
          </div>
        </div>
        <!--       -->
      </div>

    <!-- /.container-fluid -->


